@model RASCH_FLOTILLAS.Data.Entities.State

<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Abbreviation" class="control-label"></label>
    <input asp-for="Abbreviation" class="form-control" />
    <span asp-validation-for="Abbreviation" class="text-danger"></span>
</div>